<h1>Lista de Empregados</h1>

<table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Email</th>
        <th scope="col">Buscar Empregado</th>
        <th scope="col">Editar Empregado</th>
        <th scope="col">Remover Empregado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empregado of empregados, index as i">
        <td>{{ empregado.nome }}</td>
        <td>{{ empregado.sobrenome }}</td>
        <td>{{ empregado.email }}</td>
        <td>
          <button (click)="verDetalhesBuscaEmpregadoPorId(empregado.id)" class="btn btn-primary">Detalhes</button>
        </td>
        <td>
          <button (click)="atualizarEmpregado(empregado.id)" class="btn btn-warning">Editar</button>
        </td>
        <td>
          <button (click)="removerEmpregado(empregado.id)" class="btn btn-danger">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>