div.detalhes{
    width: 800px;
    margin: 30px auto;                           /* "auto" centraliza o formulário */ 
    text-align: center;
    padding: 20px;                               /* Adiciona padding para espaçamento interno */
    border: 1px solid #ccc;                    /* Adiciona borda ao formulário */
    border-radius: 10px;                         /* Adiciona arredondamento às bordas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   /* Adiciona sombra ao formulário */
    background-color: #f9f9f9;                 /* Adiciona cor de fundo ao formulário */
}

h2{
    text-align: center;
    font-weight: 600;
}

label{
    font-size: 20px;
    font-weight: bold;
}